.russo-one-regular {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* Banner Section Style */
*{
    margin: 0px;
    padding: 0px;
}
.nav{
    
    
    background-image: url(../Assets/Hero-bg.png);
    width: 100%;
    
    /* max-width: 1440px; */
    height: 698px;
    

}
.navbar{
    display: flex;
    width: 1140px;
    margin: 0 auto;
    padding: 50px 0px;
    justify-content: space-between;
    align-items: center;

}


.navbar h3{
    color: var(--Primary-Color, #4E47FF);
    font-family: Inter;
    font-size: 34px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%; 
}
.btn{
    border-radius: 10px;
    background: #4E47FF;
    display: flex;
    height: 48px;
    padding: 12px 36px;
    justify-content: center;
    align-items: center;
    border: none;
    gap: 10px;
}
.spn{
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */
}
.header-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 75%; */
    max-width: 905px;
    margin: 8% auto ;
    gap: 37px;
    /* border: 1px solid black; */
}
.header-hero-text{
    color: #252432;
    text-align: center;
    font-family: Raleway;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
/* Footer Section Style */
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3em;
    background-color: white;
    padding: 104px 0 103px 0;

}
.Footer-text{
    color: var(--Primary-Color, #4E47FF);
    text-align: center;
    font-family: Inter;
    font-size: 100px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.footer-paragraph{
    margin-top: 8px;
    color: #8987A1;
    text-align: center;
    width: 531px;
    /* Paragraph */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

ul {
   display: flex;
   gap: 48px;
   justify-content: center;
   list-style: none;
   margin-top: 20px;

}
li{
    color: #8987A1;
    font-family: Inter;
}

/* Newsletter  */
.Hero-Section{
    background: #F5F8FF;
}

.contact-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 71px 71px;
  gap: 60px;
  max-width: 1200px;
  margin: auto;
  flex-wrap: wrap;
}

.contact-left h1 {
    font-family: Raleway;
  font-size: 97px;
  font-weight: 700;
  color: #000;
  margin-left: 150px;
  
  
}

.contact-right form {
  display: flex;
  flex-direction: column;
  font-family: Inter;
  font-size: 20px;
  gap: 15px;
  min-width: 300px;
  width: 100%;
  max-width: 400px;

}

form label {
  font-size: 18px;
  color: #333;
}

form input,
form textarea {
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
}

form button {
  background-color: #4f46e5;
  color: #fff;
  border: none;
  padding: 14px;
  border-radius: 6px;
  font-size: 16px;
  
 ;
}

